<% if @user.errors.any? %>
  <div class="error-message">
    <h3><%= @user.errors.count %>errors prohibited this obj from being saved</h3>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="name">Name</label></br>
  <%= f.text_field :name, autofocus: true, id:"name" %>
  <label for="userImage">Image</label></br>
  <%= f.attachment_field :profile_image, id:"userImage" %>
  <label for="Introduction">Introduction</label></br>
  <%= f.text_field :introduction, id:"Introduction" %><br>
  <%= f.submit "Update User" %>
<% end %>

