<%= render 'users/lists', user: @user, book: @book %>

<h1>Book</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
<% @books.each do |book| %>
  <tboby>
    <tr>
      <td><%= link_to user_path(book.user.id) do %>
        <%= attachment_image_tag @user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.png" %>
        <% end %>
      </td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
    </tr>
  </tboby>
  <% end %>
</table>